body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.outer{
  padding: 40px 0px;
}
.container{
  width: 90%;
  margin: 0px auto;
}
h1{
  margin: 0px;
  padding: 0px;
  text-wrap: nowrap;
  color: #d26c22;
}
.search{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
input[type=text]{
  width: 100%;
  border: 1px solid #d26c22;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 15px;
}
.d-flex{
  display: flex;
  gap: 10px;
  font-size: 16px;
}
button{
  background-color: #d26c22;
  border: none;
  padding: 8px 35px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}
.weather-forecast{
  display: flex;
  gap: 1%;
  flex-wrap: wrap;
}
.box{
  width: 19.2%;
 
}
table{
  border: 1px solid #222;
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}
table, th, td{
  border: 1px solid #222;
  font-size: 14px;
}
th{
  background-color: #ff6600;
}
.bg-gray{
  background-color: #cccccc;
  td{
    font-weight: bold;
  }
}

@media screen and (max-width: 767px) {
  .search{
    display: block;
  }
  .box{
    width: 32%;
    margin-bottom: 20px;
  }
  h1{
    font-size: 30px;
    margin-bottom: 15px;
  }

  
}
@media screen and (max-width: 567px) {
  .weather-forecast{
    display: block;
  }
  .box{
    width: 100%;
    margin-bottom: 20px;
  }
}
.error-message{
  background-color: #fff7f7;
  border:1px solid red;
  width: 100%;
  color: red;
  padding: 10px;
}